@font-face {
  font-family: 'Lato';
  src: url('./../fonts/Lato-Regular.woff2') format('woff2'),
    url('./../fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('./../fonts/Lato-Semibold.woff2') format('woff2'),
    url('./../fonts/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('./../fonts/Lato-Bold.woff2') format('woff2'),
    url('./../fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
