$red: #d52047;
$orange: #ee3d1b;
$black: #000;
$white: #fff;

%l400 {
  font-family: 'Lato';
  font-weight: 400;
}
%l600 {
  font-family: 'Lato';
  font-weight: 600;
}

%l700 {
  font-family: 'Lato';
  font-weight: 700;
}
