@import 'reset';
@import 'fonts';
@import 'vars';
@import 'navbar';

body {
  background-color: $white;
  color: $black;
  font-size: 14px;
  @extend %l400;
  line-height: 140%;
}
.container {
  max-width: 1137px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  @extend %l700;
  font-size: 18px;
  text-transform: uppercase;
  & a {
    display: flex;
    justify-content: space-between;
    gap: 7px;
  }
}

.header {
  padding-top: 100px;
  min-height: 100vh;
  color: $white;
  font-size: 14px;
  line-height: 22px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-image: url(./../img/background.jpg);
  position: relative;
  z-index: 1;
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    );
  }
  .hero {
    text-align: center;
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    gap: 39px;
    align-items: center;
    &__title {
      font-size: 72px;
      line-height: 83.4px;
      letter-spacing: 0.05em;
      @extend %l700;
      text-transform: uppercase;
    }
    &__text {
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 14px;
      @extend %l600;
    }
    &__btn {
      width: 160px;
      height: 50px;
      background-color: $white;
      cursor: pointer;
      border-radius: 6px;
      border: none;
      text-transform: uppercase;
      font-size: 14px;
      @extend %l600;
      color: #ed4c5c;
    }
  }
}

.title {
  font-size: 36px;
  line-height: 40px;
  @extend %l600;
}

.about {
  padding: 94px 0 95px;
  &__wrapper {
    display: flex;
    gap: 92px;
    align-items: center;
  }
  &__content {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-title {
      margin-bottom: 30px;
    }
    &-link {
      color: #ed4c5c;
    }
  }
  &__popup {
    max-width: 478px;
    position: relative;
    padding-left: 33px;
    &-wrap {
      border-radius: 15px;
      overflow: hidden;
      max-width: 445px;
      height: 311px;
      img {
        height: 100%;
      }
    }
    &-link {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.features {
  background-color: #fafafa;
  padding: 63px 0 50px;
  &__title {
    text-align: center;
    margin-bottom: 76px;
  }
  &__items {
    display: flex;
    gap: 30px;
  }
  &__item {
    width: 350px;
    height: 430px;
    color: #101010;
    font-size: 12px;
    overflow: hidden;
    line-height: 150%;
    position: relative;
    &-title {
      font-size: 18px;
      line-height: 22px;
      @extend %l700;
    }
    &-text {
      margin-bottom: 2px;
    }
    &-link {
      color: #ed4c5c;
    }
    &-img {
      overflow: hidden;
      border-radius: 8px;
      width: 100%;
      height: 250px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      border-radius: 8px;
      overflow: hidden;
      width: 293px;
      padding: 33px 32px 25px;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
      text-align: center;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 156.5px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.technology {
  padding: 63px 0 132px;
  color: #101010;
  text-align: center;
  &__title {
    margin-bottom: 65px;
  }
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    max-width: 190px;
  }
  &__number {
    color: rgba(16, 16, 16, 0.08);
    font-size: 100px;
    line-height: 120px;
    @extend %l700;
  }
  &__wrap {
    margin-bottom: 19px;
    position: relative;
  }
  &__img {
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    width: 80px;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    &-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
    &-text {
      color: $black;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.gallery {
  color: $white;
  background-color: #ed4c5c;
  padding: 94px 0 95px;
  &__wrapper {
    display: flex;
    gap: 125px;
    align-items: center;
  }
  &__content {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  &__slider {
    position: relative;
    z-index: 0;
    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 383px;
    //   height: 267px;
    //   background-image: url(./../img/slider/2.jfif);
    //   top: 50%;
    //   transform: translateY(-50%);
    //   right: -44px;
    //   opacity: 0.5;
    //   border-radius: 15px;
    // }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   width: 383px;
    //   height: 267px;
    //   background-image: url(./../img/slider/3.jfif);
    //   opacity: 0.5;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   left: -44px;
    //   border-radius: 15px;
    // }
  }
  .apps {
    display: flex;
    gap: 23px;
    align-items: center;
  }
}

.swiper {
  border-radius: 15px;
  width: 100%;
  max-width: 445px;
  height: 311px;
}
.swiper-slide {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  &-active img {
    opacity: 1;
  }
}

.contact {
  padding: 120px 0 114px;
  &__wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
  &__content {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__form {
    display: grid;
    width: 540px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(60px, auto);
    column-gap: 30px;
    row-gap: 24px;
    &-item {
      border: 1px solid #333333;
      outline-color: #ed4c5c;
      border-radius: 6px;
      padding: 0 31px;
      text-decoration: none;
      &::placeholder {
        color: rgba(19, 39, 67, 0.5);
      }
    }
    &-btn {
      height: 50px;
      max-width: 160px;
      text-transform: uppercase;
      color: $white;
      cursor: pointer;
      background-color: #ed4c5c;
      border: 1.5px solid #ed4c5c;
      border-radius: 6px;
    }
    & .input-phone,
    & .input-select {
      grid-column: span 2;
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACYSURBVHgBjc6xCoMwFAVQ7avaIgXp5BQ7dCidOnZ06N6hQ7/R0T/wK9yELELAVTESBbmDIJKoFwLJfTkkdL1/3h5jtRRcWjsSvOLgdLk9Dp3b82NDfxR7EO4qxxKkKl7bYVR6kn4uiwrTyxNqnSFt8kwQyi28ROhoGpqwDiH28kv+Mw7Pir69PyQ465AWzjH2OrQaYCzTfAQX0l1OI8R04QAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: 96% center;
  background-color: transparent;
  color: rgba(19, 39, 67, 0.5);

  cursor: pointer;
  &:not([size]):focus {
    outline: none;
    color: rgba(19, 39, 67);
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.footer {
  padding: 85px 0;
  background-color: #fafafa;
  font-size: 12px;
  line-height: 160%;
  color: #101010;
  &__items {
    margin-bottom: 100px;
    display: flex;
    gap: 107px;
  }
  &__item :not(:last-child) {
    width: 180px;
  }
  &__item-title {
    font-size: 18px;
    line-height: 22px;
    max-width: 254px;
    @extend %l700;
    margin-bottom: 30px;
  }
  .phone {
    margin-bottom: 20px;
  }
  .social {
    display: flex;
    gap: 10px;
    a {
      display: flex;
      justify-content: center;
      width: 14px;
      height: 14px;
    }
  }
  .support {
    margin-bottom: 33px;
  }
  .payment {
    width: 216px;
    height: 31px;
  }
}

@import 'media';
